@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
body {
  background-color: #676767;
  font-family: "Indie Flower", cursive;
  section:last-of-type {
    margin-top: 130px;
  }
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1500px;
    margin-inline: auto;
    margin-top: 40px;
    div:hover {
      transform: rotate(0deg);
      width: 330px;
      height: 290px;
    }
    div {
      transition: transform 0.3s ease-in-out;
      width: 280px;
      height: 230px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: inset 0px -15px 20px -1px rgba(82, 82, 82, 0.72),
        6px 6px 12px 0px rgba(0, 0, 0, 0.45);
      h1 {
        font-size: 45px;
        font-weight: 600;
      }
      p {
        font-size: 30px;
        font-weight: 200;
        margin-top: 20px;
      }
    }
    .yellowPostit {
      background-color: #f0f0bc;
      transform: rotate(-4deg);
    }
    .greenPostit {
      background-color: #c7f6c9;
      transform: rotate(5deg);
    }
    .violetPostit {
      background-color: #c6c6f2;
      transform: rotate(-8deg);
    }
  }
}
